<br><h4>Welcome, <%= @curUser.first_name %>!</h4>

<button class="btn btn-info addevt">Add Event >></button>

<% if @eventsThis %>
<table class="table table-striped event">
  <caption>Here are some events at your state:</caption>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Date</th>
    <th>Host</th>
    <th>Action/Status</th>
  </tr>
  <% @eventsThis.each do |evt| %>
  <tr>
    <td><a href="/events/<%= evt.id %>" class="btn btn-link"><%= evt.name %></a></td>
    <td><%= evt.location %></td>
    <td><%= evt.date %></td>
    <td><%= evt.user.first_name %> <%= evt.user.last_name %></td>
    <% if evt.user.id == session[:id] %>
    <td><%= button_to "Edit", "/events/#{evt.id}/edit", :method=>:get, class: "btn btn-link" %> | <%= button_to "Delete", "/events/#{evt.id}", :method=>:delete, class: "btn btn-link" %></td>
    <% elsif @curUser.joinedevents.find_by(event: evt) %>
    <td><span>Joining </span>  <%= button_to "Cancel", "/events/#{evt.id}/unjoin", method: :patch, class: "btn btn-link" %></td>
    <% else %>
    <td><%= button_to "Join", "/events/#{evt.id}/join", method: :patch, class: "btn btn-link" %></td>
    <% end -%>
  </tr>
  <% end -%>
</table>
<% else %>
<h4>No events in your state yet.</h4>
<% end -%>
<br>

<% if @eventsOther %>
<table class="table table-striped event">
  <caption>Here are some events on other states:</caption>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>State</th>
    <th>Date</th>
    <th>Host</th>
    <th>Action/Status</th>
  </tr>
  <% @eventsOther.each do |evt| %>
  <tr>
    <td><a href="/events/<%= evt.id %>" class="btn btn-link"><%= evt.name %></a></td>
    <td><%= evt.location %></td>
    <td><%= evt.state %></td>
    <td><%= evt.date %></td>
    <td><%= evt.user.first_name %> <%= evt.user.last_name %></td>
    <% if evt.user.id == session[:id] %>
    <td><%= button_to "Edit", "/events/#{evt.id}/edit", :method=>:get, class: "btn btn-link" %> | <%= button_to "Delete", "/events/#{evt.id}", :method=>:delete, class: "btn btn-link" %></td>
    <% elsif @curUser.joinedevents.find_by(event: evt) %>
    <td><span>Joining </span>  <%= button_to "Cancel", "/events/#{evt.id}/unjoin", method: :patch, class: "btn btn-link" %></td>
    <% else %>
    <td><%= button_to "Join", "/events/#{evt.id}/join", method: :patch, class: "btn btn-link" %></td>
    <% end -%>
  </tr>
  <% end -%>
</table>
<% else %>
<h4>No events in your state yet.</h4>
<% end -%>

<div class="row addEvtForm">
    <div class="col-lg-6 col-md-6 col-sm-10 col-lg-offset-3 col-md-offset-3 col-sm-offset-1">
      <form action="/events" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    
        <div class="form-group">
          <label for="evt_name">Event name</label>
          <input type="text" name="event[name]" id="evt_name" class="form-control" placeholder="Event name">
        </div>
        
        <div class="form-group">
          <label for="evt_date">Date</label>
          <input type="date" name="event[date]" id="evt_date" class="form-control" placeholder="Event date">
        </div>
        
        <div class="form-group">
          <label for="evt_location">Location</label><br>
          <input type="text" name="event[location]" id="evt_location" class="form-control location" placeholder="Location">

          <select name="event[state]" id="reg_state">
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>
        
        <input type="submit" value="Save" class="btn btn-success btn-sm">
      </form>
    </div>
</div>
